.checkout-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50vw;
        margin: 0 auto;
        input {
            width: 100%;
            margin: 5px 0;
            padding: 10px;
        }
    }
    .right-checkout {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        padding: 30px;
        margin-right: 100px;
        max-height: 300px;
        width: 25vw;
        background-color: rgb(251, 251, 252);

        h4 {
            font-size: 18px;
            font-weight: 500;
        }
        button {
            margin-top: 30px;
        }
    }
}
@media only screen and (max-width: 900px) {
    .checkout-container {
        display: flex;
        flex-direction: column;
        form,
        .right-checkout {
            width: 100%;
        }
        .right-checkout {
            margin-top: 50px;
        }
    }
}
